body{
    background-color: #292929;
    color: white;
}

footer{
    border-top: 1px solid grey;
}

.btn-authentication{
    background-color: white;
    color: black;
}

.banner{
    background-color: rgba(0,0,0,0.2);
}

.card{
    background-color: #292929;
    border: 3px solid rgba(0,0,0,0.2);
}